body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "NeueMedium", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Kalam/Kalam-Bold.eot');
  src: url('../public/fonts/Kalam/Kalam-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Kalam/Kalam-Bold.woff') format('woff'),
      url('../public/fonts/Kalam/Kalam-Bold.ttf') format('truetype'),
      url('../public/fonts/Kalam/Kalam-Bold.svg') format('svg');
}

@font-face {
  font-family: 'NeueMediumItalic';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-MediumItalic.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-MediumItalic.svg#NeueMontreal-MediumItalic') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-MediumItalic.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'NeueMedium';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Medium.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Medium.svg#NeueMontreal-Medium') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Medium.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueLightItalic';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-LightItalic.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-LightItalic.svg#NeueMontreal-LightItalic') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-LightItalic.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueLight';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Light.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Light.svg#NeueMontreal-Light') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Light.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueItalic';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Italic.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Italic.svg#NeueMontreal-Italic') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Italic.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBoldItalic';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-BoldItalic.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-BoldItalic.svg#NeueMontreal-BoldItalic') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-BoldItalic.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBold';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Bold.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Bold.svg#NeueMontreal-Bold') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Bold.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueRegular';
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Regular.eot');
  src: url('../public/fonts/NeueMontreal/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Regular.svg#NeueMontreal-Regular') format('svg'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Regular.ttf') format('truetype'),
       url('../public/fonts/NeueMontreal/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
